<ng-container 
  *ngIf="launchDetails$ | async as launchDetails"
  class="launch-details"
  >
  <div class="container">
    <header>
      <a 
        mat-fab 
        aria-label="Go back"
        color="primary"
        [routerLink]="['/']"
      >
        <mat-icon>navigate_before</mat-icon>
      </a>
      <h1>{{ launchDetails.mission_name }}</h1>
    </header>
    <div class="left-part">
      <section class="sec-left">
        <mat-card>
          <img        
            mat-card-lg-image
            [src]="launchDetails.links?.mission_patch"
            alt="Mission patch of {{ launchDetails.mission_name }}"
          />
          <mat-card-content>
            <p>{{ launchDetails.details }}</p>
          </mat-card-content>
        </mat-card>
      </section>
    </div>
    <div class="right-part">
      <section class="slider">
        <ngx-gallery 
          [options]="galleryOptions" 
          [images]="galleryImages"
        >
        </ngx-gallery>
      </section>
    </div>
  </div>
</ng-container>
